/** FILM **/
.film-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
  }
  
  /* Taille de l'image */
  .image-film {
      width: 100%;
      height: 250px; 
      object-fit: cover; 
      border-radius:20px;
  }
  
  /* Taille Cards */
  .film-card {
      position: relative; 
      width: 200px;
      margin: 5px;
      transition: transform 0.3s; 
  }
    
  /* Hover Cards */
  .film-card:hover {
      transform: scale(1.1);
      
  }
    
  /* Boite infos */
  .film-card .film-card-infos {
      position: absolute; 
      top: 0;
      left: 0;
      width: 100%;
      height: 98.5%;
      background-color: rgba(0, 0, 0, 0.7); 
      color: white;
      padding: 10px;
      box-sizing: border-box;
      opacity: 0; 
      transition: opacity 0.5s; 
      border-radius:20px;
  }
    
  /* Activé/Désactivé */
  .film-card:hover .film-card-infos {
      opacity: 1; 
  }
  
  .film-card .film-card-infos span {
      color:white;
      display: block;
      margin-bottom: 5px;
  }
