.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-top: 50px;
}

.container .content {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.castings-card-detail {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-left: 5px;
    box-sizing: border-box;
}

.casting-card-list {
    display: flex;
    flex-wrap: wrap;

}

.casting-container {
    flex-basis: calc(50% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    border: solid 1px black;
    box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.5);

}

.casting-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    position: relative;
}

.casting-card-list{
    background-color:white;
    border-radius:10px;
    border: solid 3px black;
}
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.casting-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:solid 2px rgb(255, 255, 255);
}

.casting-info {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 99.0%; 
    background-color: rgba(0, 0, 0, 0.8);
    border:solid 1px rgb(255, 255, 255);
    color: white;
    padding: 10px;
    text-align: center;
    transform: translateX(-50%); 
    left: 50%; 
}
.image-container:hover .casting-info {
    display: block;
}
