/* Container */
.container {
    height: 100vh;
}

.content {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color:white;
  margin-top: 50px;
  
}

.container label {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

.container input[type="textarea"],
.container input[type="text"],
.container select,
.container textarea {
  display: inline-block;
  width: 350px;
  margin-bottom: 10px;
}

/* Margin sur les notes + texte note */
.container .note-input {
    margin-top: 10px;
}
.container label[for="note"] {
    margin-top: 10px;
}

/* margin sur genre */
.container label[for="genre_id"] {
    margin-top: 10px;
}


/* margin sur synopsis */
.container label[for="synopsis"],
.container textarea[name="synopsis"] {
  margin-top: 10px;
}

.container input[name="duree"]{
  width: 100px;
}

.note-input input[type="radio"] {
    display: none;
}

/* Aligner de façon vertical */
.note-input {
    display: inline-block;
    vertical-align: top; 
}

/* form notes */
.note-input label {
    display: inline-block;
    width: 20px;
    height: 22px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

/* Hover gris sur form note */
.note-input label:hover {
    background-color: lightgray;
}

/* background noir & texte blanc quand c'est cliqué */
.note-input input[type="radio"]:checked + label {
    background-color: black;
    color: white;
}

/* Espacement entre les boutons radio et les étiquettes */
.note-input input[type="radio"],
.note-input label {
  margin-right: 45px; 
}

/* Afficher les éléments sur une ligne séparée */
.container input[type="file"],
.container input[type="submit"] {
  display: block; 
  margin: 0 auto 0
}

/* Bouton submit */
.container input[type="submit"] {
    color: white;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
    border : solid 1px black;
    background-color: green; 
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none; 
    margin-top: 30px;
}

/* Margin-top ajouter image */
.container input[type="file"] {
    margin-top:10px;
}

/* Hover bouton */
.container input[type="submit"]:hover {
    background-color: darkgreen;
}
