.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-top: 50px;
}

.container .content {
    background-color: #fff;
    border: 3px solid #000000;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.acteur-card-detail {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-left: 5px;
    box-sizing: border-box;
}

.acteur-card-detail span {
    display: block;
    margin-bottom: 10px;
}

.acteur-card-horizontal {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.acteur-container {
    flex-basis: calc(33.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}

.acteur-card {
    position: relative;
    text-align: center;
    height: 305px;
    width: 100%;
    background-color: #fff;
    border: 3px solid #000000;
    border-radius: 10px;
}

.acteur-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.acteur-info {
    margin-right: 5px;
    margin-top:10px;
    width: 100%;
}

.acteur-title {
    position: absolute;
    color: transparent;
    left: 0;
    width: 0%;
    padding: 8px;
    border-radius: 5px 5px 50px 50px;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: transform 0.3s ease, background-color 0.1s ease, color 0.8s ease, box-shadow 1.5s ease, border-radius 1s ease, width 1s ease;
    transform: translateY(-262%);
    z-index: 1;
}

.acteur-card:hover .acteur-title {
    transform: translateY(-105%);
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.acteur-role::before{
    content: "Role : ";
    visibility: hidden;
}

.acteur-date::before{
    content: "Date : ";
    visibility : hidden;
}

.acteur-title::before {
    content: "Film : ";
    visibility: hidden;
}

.acteur-card:hover .acteur-role::before,
.acteur-card:hover .acteur-date::before,
.acteur-card:hover .acteur-title::before {
    visibility: visible;
}

.acteur-card .film-info:hover {
    color: red;
}

.acteur-link {
    transition: color 0.3s ease, filter 0.3s ease, box-shadow 0.5s ease;
}
.acteur-link:hover {
    color: rgb(65, 161, 240);

    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    border: solid 0.1px black;
}

.acteur-role-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.error {
    color: red;
    font-weight: bold;
}
