/** RÉALISATEUR **/
.realisateur-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
 
/* Taille de l'image */
.image-realisateur {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

/* Taille des cartes */
.realisateur-card {
  position: relative;
  width: 200px;
  margin: 5px;
  transition: transform 0.3s;
}

/* Effet au survol des cartes */
.realisateur-card:hover {
  transform: scale(1.1);
}

/* Boîte d'informations */
.realisateur-card .realisateur-card-infos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98.5%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 20px;
}

/* Activation de la boîte d'informations */
.realisateur-card:hover .realisateur-card-infos {
  opacity: 1;
}

.realisateur-card .realisateur-card-infos span {
  color: white;
  display: block;
  margin-bottom: 5px;
}
