.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-top: 50px;
  }
  
  .container .content {
    background-color: #fff;
    border: 3px solid #000000;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .film-genre-card-list {
    margin-top: 10px;
  }
  
  .film-genre-card-horizontal {
    display: flex;
    flex-wrap: wrap;
  }
  
  .film-genre-container {
    flex-basis: calc(33.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .film-genre-card {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: 3px solid #000000;
    border-radius: 10px;
  }
  
  .film-genre-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 7px 7px 0px 0px;
  }
  
  .film-genre-info {
    padding: 10px;
    text-align: center;
    height: 30%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .film-genre-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .film-genre-date,
  .film-genre-duree {
    font-style: italic;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  
  @media screen and (max-width: 767px) {
    .film-genre-container {
      flex-basis: calc(50% - 10px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .film-genre-container {
      flex-basis: 100%;
    }
  }
  